
/*color palette

black dull #1E262A
CTA #C8049F*/


/*Styling of Header Section*/

.navigation{

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/*Note: overflow:hidden is added to the  element to prevent li elements from going outside of the list.*/
    background-color:whitesmoke transparent 100%;
   
  }

.inline-block {
    display: inline-block; 

    vertical-align: top;
    
            
}


.logo {
 width: 23% ;
 padding: 1%;
 }

nav {
    
    width: 73%;
    padding:1%;
    
   
    }

nav ul {
    width: 40%;
    margin:0;
    float:right;
    
}


nav li {
    display: inline-block;
    padding: 8px;
    font-family: Helvetica;
    
    
    }

.inline-block a{

    text-decoration: none;
    color:#1E262A;
    display: block;
    font-size: larger;
    font-weight:bold;
    
     
}
.navigation li:hover:not(.active) {
    
       
    border-bottom: 3px solid #C8049F;
    background-color:  #e4aad67a;
    
  }

/*hero styling */ 

.heroImg {
    height: 880px;
    padding: 25px;
    margin-bottom:0px;
    background-image: url("../images/Hero2.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
   
    
  }

 
  
  
  /* Place text in the left middle of the image */
.content {

    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #1E262A;
    
  }
.content h1 {

    font-family: Helvetica,Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
}
.content p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
}
.illustration{

position: absolute;
top:15%;
right:20%;

}
/*styling the button*/

.heroImg button {
  position: absolute;
  top:70%;
  right:30%;
  background-color: #C8049F;
  border: none;
  font-size:medium;
  
  color: #FFFFFF;
  padding: 15px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.10s; /* Safari */
  transition-duration: 0.10s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
    font-family: Helvetica,Arial, sans-serif;
    border-radius: 6px;
}

.heroImg button:after {
  content: "";
  background: #F380DB;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

 .heroImg button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/*button shadow effect on hover */
.heroImg button:hover:not(.active) {     
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    } 



/*My Work Styling */
.workGrid{
    margin-top: 10px;
    
    display: grid;
    grid-template-rows:50vh 50vh 50vh;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pro1 pro1 imgPro1 imgPro1 imgPro1"
    " imgPro2 imgPro2 imgPro2 pro2 pro2"
    "pro3 pro3 imgPro3 imgPro3 imgPro3";
          
}

.pro1{
    grid-area: pro1;
    position: relative;
   
   
   margin-bottom: 5%;
    
}
.pro2{
    grid-area: pro2;
    position: relative;
    
    margin-bottom: 5%;
  
}
.pro3{
    grid-area: pro3;
    position: relative;
     
    margin-bottom: 5%;

}
.imgPro1{
    grid-area: imgPro1;
   
      margin-right: 25%;
    
    background-image: url("../images/Pro1.png");
    background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   margin-bottom: 5%;

   
}
.imgPro2{
   

    grid-area: imgPro2;
     margin-left: 20%;
    background-image: url("../images/Pro2.png");
   background-repeat: no-repeat;
   background-size:contain;
   background-position: center;
   margin-bottom: 5%;

}
.imgPro3{
    

    grid-area: imgPro3;
     margin-right: 20%;
    background-image: url("../images/Pro3.png");
    background-repeat: no-repeat;
   background-size:contain;
   background-position: center;  
    margin-bottom: 5%;


}

.title1{

    background-color: rgba(255,255,255);
    position: absolute;
    top:50%;
    left:80%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
    text-align: center;
}
.title2{

    background-color: rgba(255,255,255);
    position: absolute;
    top:50%;
    right:10%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
   text-align: center;
}

.title3{

    background-color: rgba(255,255,255);
    position: absolute;
    top:50%;
    left:80%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
    text-align: center;
}




/*My skills Styling */
.flexContainer{
    border:3px solid blue;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
   text-align: center;
  
}
.flexContainer > div{
    width: 33%;
    border:3px solid lightblue;
    padding: 1%;
    margin: 1%;
}
.flexContainer img{
    display: block;
    width:20%;
    height:auto;
    margin:0 auto;
}


/*FOOTER styling*/
footer{

    border:3px solid red;
    display: flex;
    flex-direction: row;
    
}

footer ul{
    
    font-size: small;
    display: flex;
    flex-direction:column;
}

                            
input[type=text], select, textarea {
    width: 20%;
    padding: 4px;
    border: none;
    border: 2px solid rgb(2, 52, 60);
    margin-top: 4px;

  }

  /*Media Query starts here*/

@media only screen and (max-width:600px){

    .flexContainer{

        display: flex;
        flex-direction: column;
    }
        .flexContainer > div{
            width:100%;

        }
        .flexContainer img{
            display: block;
            width:100%;
            height:auto;
            margin:0 auto;
        }
    .workGrid{
        border: 3px solid seagreen;
        display: grid;
        grid-template-rows:40vh 20vh 40vh 20vh 40vh 20vh ;
        grid-template-columns:1fr;
        grid-template-areas: 
        "imgPro1"
        "pro1"    
        "imgPro2"
        "pro2"    
        "imgPro3"    
        "pro3" ;
          
}
.imgPro1{
    margin:2%;

}
.imgPro2{
    margin:2%;
}
.imgPro3{
    margin: 2%;
}
.title1{

    background-color: rgba(255,255,255);
    position: absolute;
    top:10%;
        width:90%;
    height:100%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
    text-align: center;
    margin: 0;

}
.title2{

    background-color: rgba(255,255,255);
    position: absolute;
    top:10%;
    left:50%;
    width:90%;
    height:100%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
    text-align: center;
    margin: 0;

}
.title3{

    background-color: rgba(255,255,255);
    position: absolute;
    top:10%;
    left:50%;
    width:90%;
    height:100%;
    transform:translate(-50%,-50%);
    border: 1px solid teal;
    z-index: 100;
    text-align: center;
    margin: 0;

}



}