
/*color palette

#1E262A black dull for text
#C8049F CTA 
#BF7C95 pink shade my skills
#530A17 #8E4E66 darkest colors  for footer
#D5C7BE Title background clr
#CBE3CB Title border
#FDD1C5 light pink title border color   
*/

h4{

    padding:2 em;
   font-size: x-large;
   font-family: Helvetica,Arial, sans-serif;

}

h3{
    padding:2 em;
    font-size: x-large;
   font-family: Helvetica,Arial, sans-serif;
}

p{


font-size: larger;
font-family: Helvetica,Arial, sans-serif;

}
/*Styling of Header Section*/
.topnav{visibility:hidden;}

header.navigation{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/*Note: overflow:hidden is added to the element to prevent li elements from going outside of the list.*/
    background-color: transparent 100%;
    border:2px solid rgb(43, 0, 255);
   

   
  }

nav.inline-block {
    display: inline-block; 
    width: 73%;
    padding:1%;
    border:2px solid red;
    
   

   
   
    
            
}


.logo {
 width: 23% ;
 padding: 1%;
 border:2px solid rgb(0, 255, 94);
 

 }



nav ul {
   
    margin:0;
    float:right;
    
   
    
}


nav li {
    display: inline-block;
    padding: 1rem;
    font-family: Helvetica;
    
    
    }

.inline-block a{

    text-decoration: none;
    color:#1E262A;
    display: block;
    font-size: large;
    font-weight:bold;
    
     
}
.navigation li:hover:not(.active) {
    
       
    border-bottom: 3px solid #C8049F;
    background-color:  #e4aad67a;
    
  }

/*hero styling */ 

.heroImg {
    
    padding: 25px;
    margin-bottom:5px;
    background-image: url("../images/Hero2.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /*The image will be responsive*/
    max-width:100%;
    height: 90vh;
    
   
    
  }
    
  /* Place text in the left middle of the image */
.content {

    text-align: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #1E262A;
    
  }
.content h1 {

    font-family: Helvetica,Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}
.content p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
}
.illustration{

position: absolute;
top:15%;
right:20%;


}
/*styling the button*/

.heroImg button {
  position: absolute;
  top:70%;
  right:25%;
  background-color: #C8049F;
  border: none;
  font-size:larger;
  
  color: #FFFFFF;
  padding: 20px;
  width:15em;

  text-align: center;
  -webkit-transition-duration: 0.10s; /* Safari */
  transition-duration: 0.10s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
    font-family: Helvetica,Arial, sans-serif;
    border-radius: 6px;
}

.heroImg button:after {
  content: "";
  background: #F380DB;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

 .heroImg button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/*button shadow effect on hover */
.heroImg button:hover:not(.active) {     
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);} 



/*My Work Styling */
.workGrid{
    margin-top: 50px;
    display: grid;
    
    grid-template-rows:40rem 40rem 40rem;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "pro1 pro1 imgPro1 imgPro1 imgPro1"
    " imgPro2 imgPro2 imgPro2 pro2 pro2"
    "pro3 pro3 imgPro3 imgPro3 imgPro3";
          
}

.pro1{
    grid-area: pro1;
    position: relative;
    margin-bottom: 10%;
    
}
.pro2{
    
    grid-area: pro2;
    position: relative;
    
    margin-bottom: 10%;
  
}
.pro3{
    grid-area: pro3;
    position: relative;
     margin-bottom: 10%;

}
.imgPro1{
    grid-area: imgPro1;
    margin-right: 25%;
    background-image: url("../images/01.png");
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    margin-bottom: 10%;
 
}

.imgPro2{
    grid-area: imgPro2;
    margin-left: 20%;
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    margin-bottom: 10%;
}
.imgPro3{
   
    grid-area: imgPro3;
     margin-right: 20%;
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
   background-size:cover;
   background-position: center;  
    margin-bottom: 10%;
}

.title1{

    border-color:#FDD1C5;
    border-style: solid;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left:90%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
   
    z-index: 100;
    text-align: center;
}
.title2{
    border-color: #FDD1C5;
    border-style: solid;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    right:20%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
   text-align: center;
}

.title3{
    border-color: #FDD1C5;
    border-style: solid;
    background-color: #ffffff;
    position: absolute;
    top:50%;
    left:90%;
    width:70%;
    height:50%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
}
/*myWork grid Button*/

.myWork button{
    background-color: #C8049F;
    border: none;
    font-size:larger;
  
    color: #FFFFFF;
    padding: 10px;
    width:5em;
    
  position: relative;
    text-align: center;
    -webkit-transition-duration: 0.10s; /* Safari */
    transition-duration: 0.10s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
      font-family: Helvetica,Arial, sans-serif;
      border-radius: 6px;

}

.workGrid button:after {
    content: "";
    background: #F380DB;
    display: block;
    position: absolute;
    padding-top: 300%;
   padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .workGrid button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .workGrid button:hover:not(.active) {     
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    } 


/*My skills Styling */

.myskills{

    background-color: #BF7C95;
    padding:2%;
    color: #FFFFFF;
}
h1{

    text-align: center;
    font-size: xx-large;
    
    
    }
    
.flexContainer{
    
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
   text-align: center;
   font-size: medium;
  
}
.flexContainer > div{
    width: 33%;
    
    padding: 1%;
    margin: 1%;
}
.flexContainer img{
    display: block;
    width:20%;
    height:auto;
    margin:0 auto;
}
/*My skills Styling Ends*/

/*FOOTER styling*/


footer{
    background-color:#8E4E66;
    color:white;
    display:grid;
    grid-template-rows:20rem ;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-areas: "h1 form ul";
    align-items: center;
}
footer h1{
    grid-area:h1;
}
/*FOOTER form styling*/
footer form{
    grid-area: form;
    justify-content: left;
    font-size: large;    
    padding-left: 2%;
    width:0.25fr;
   
}
#msg{
    height:4rem;
}
                   
input[type=text], select, textarea {
    width: 40%;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-style:none;
    color:#FFFFFF ;
    font-size: large;

    
     }

    button[type=submit]{
    
    background-color: #C8049F;
    border: none;
    font-size:large;  
    color: #FFFFFF;
    padding: 10px;
    width:5em;
    margin-top: 1%;     
    text-align: center;    
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: Helvetica,Arial, sans-serif;
    border-radius: 6px;

}
    button[type=submit]:hover:not(.active) {     
    box-shadow: 0 12px 16px 0 rgba(255, 253, 253, 0.24), 0 17px 50px 0 rgba(247, 247, 247, 0.19);
    } 


footer ul{
    grid-area: ul;
    
    justify-content:left;
    font-size: larger;
    list-style: none;
}

.rights{
        
    font-size:small;
}


/*FOOTER styling ends*/

  /*Media Query starts here*/

@media only screen and (max-width:600px){

/*Hero Section media query starts*/
.navigation{visibility: hidden;}




    img.illustration{

        top:25%;
        right:3%;
       width:45%;
    }
    
    .content {
        padding-left: 5vh;

    }
    .content h1{
        font-size: 2rem;
    }
    .content p{
        font-size:1rem;
    }
    .heroImg button{
        width:10rem;
        font-size: medium;
        padding: 0.8rem;
        top:70%;
        right:10%;
    }

/*Hero Section media query ends*/

/*Navigationmedia query */

/* Style the navigation menu */

.topnav {
    visibility: visible;
    overflow: hidden;
    position:absolute;
    height:10%;
    width:90%;
     
   
}   
    /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border: 2px solid red;
    position: relative;
   
         
      }
      /* Style the hamburger menu */
  .topnav a.icon {
    background: #C8049F;
    color:white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  
  
  
  



  /*work grid media query starts here*/
 
    .workGrid{
        
        display: grid;
        grid-template-rows:20rem 10rem 20rem 10rem 20rem 10rem ;
        grid-template-columns:3fr;
        grid-template-areas: 
        "imgPro1"
        "pro1"    
        "imgPro2"
        "pro2"    
        "imgPro3"    
        "pro3";
          
    }
    .imgPro1{
    grid-area: imgPro1;
    margin:2%;
    background-image: url("../images/01.png");
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
   
   
 
    }

    .imgPro2{
    
    grid-area: imgPro2;
    margin: 2%;
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    }
    .imgPro3{
   
    grid-area: imgPro3;
    margin: 2%;

    background-image: url("../images/3.png");
    background-repeat: no-repeat;
   background-size:cover;
   background-position: center;  
 
    }

    .pro1{
    grid-area: pro1;
    position: relative;
    margin-bottom: 4%;
   
    
    
    }
    .pro2{
    grid-area: pro2;
    
    position: relative;
    margin-bottom: 4%;
   
    
  
    }
    .pro3{
    grid-area: pro3;
    position: relative;
    margin-bottom: 4%;
    

    }

    .title1{

    background-color: rgba(255,255,255);
    position: absolute;
    top:20%;
    left:50%;
    width:70%;
    height:120%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
    }

    .title2{

    background-color: rgba(255,255,255);
    position: absolute;
    top:20%;
    left:50%;
    width:70%;
    height:120%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
    }
    .title3{

    background-color: rgba(255,255,255);
    position: absolute;
    top:20%;
    left:50%;
    width:70%;
    height:120%;
    transform:translate(-50%,-50%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;
    }

    h4{font-size: medium;}
    p{font-size: small;}


/*work grid media query ends here*/

/*My Skills media query starts here*/


    .flexContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
   font-size:medium ;
    }
    .flexContainer img{
    display: block;
    width: 30%;
    
    
    }
    .flexContainer > div{
    width: 70%;
    
    padding: 1%;
    margin: 1%;
    }   
/*My Skills media query ends here*/



/*Footer media query starts here*/
    footer{
    
    display:grid;
    grid-template-rows:10rem 20rem 20rem ;
    grid-template-columns:1fr ;
    grid-template-areas: "h1"
    " form"
    " ul";
    align-items: center;
    }
    footer form{
  
    grid-area: form;
   margin: 2%;
    font-size: large;    
    padding: 2%;
   width:1fr;
   align-content: center;
   align-items: center;
   justify-content: center;
   
    }





/*Footer media query ends here*/

}



